.post-button {
  margin-top: 40px;
}
.post-button .btn {
 color: #fff; 
 font-size: 15px; 
 background: #686868;
 border-radius: 16px; 
 line-height: 2; 
 margin: 0 4px 8px 4px; padding: 0 20px; 
 } 
 .post-button a{
 border-bottom: 1px solid #666; 
 } 
 .post-button a:hover {
 color: #7784ba; 
 }

